.modal__container_type_form {
  max-width: 496px;
  width: 100%;
  padding: 28px 28px 36px;
  margin: 0;
}

.modal__title {
  font-family: "Cabinet Grotesk Bold";
  font-size: 16px;
  margin-bottom: 28px;
}

.modal__submit-btn {
  gap: 12px;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}

.modal__submit-btn:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__second-btn {
  gap: 12px;
  border-style: none;
  padding: 8px 16px;
  background-color: transparent;
 
}

.modal__input {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.modal__fieldset {
  margin: 0 0 24px;
  padding: 0;
  border: none;
}

.modal__label {
  font-family: "Cabinet Grotesk Bold";
  font-size: 16px;
}

.modal__radio-btn {
  width: 16px;
  height: 16px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
}

.modal__radio-label {
  margin: 0 10px;
  font-family: "Cabinet Grotesk Bold";
  font-size: 16px;
}
.modal-validation {
  color: red;
  font-size: 14px;
  margin-bottom: 16px;
}

.modal__error-message {
  color: #ff4d00;
  font-size: 16px;
  font-family: "Cabinet Grotesk Bold";
  margin-top: -16px;
  margin-bottom: 16px;
  line-height: 20px;
}