.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  padding: 0 9px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}

.toggle-switch_checkbox {
  visibility: hidden;
  position: absolute;
}

.toggle-switch_checkbox:checked + .toggle-switch__circle {
  left: unset;
  right: -1px;
}

.toggle-switch__circle {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  background-color: #000;
  z-index: -1;
}

.toggle-switch__value {
  color: #7e7e7e;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
}

.toggle-switch_checkbox:checked ~ .toggle-switch__value_right {
  color: #ffffff;
}

.toggle-switch_checkbox:not(:checked) ~ .toggle-switch__value_left {
  color: #ffffff;
}
