.weather-card {
  position: relative;
  height: 80px;
  overflow: hidden;
  border-radius: 12px;
}

.weather-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right top;
}

.weather-card__temp {
  position: absolute;
  margin: 0;
  bottom: 20px;
  left: 16px;
  font-size: 36px;
  line-height: 1.1;
  color: rgba(255, 255, 255, 1);
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-size: 36px;
  line-height: 40px;
}
