.main {
  margin-bottom: 20px;
}

.main__text {
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-size: 20px;
}

.main__card-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
