.header {
  display: flex;
  justify-content: space-between;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.header__side {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 20px;
}

.header__btn {
  background-color: transparent;
  border-style: none;
  margin-left: 20px;
}

.header__link {
  display: flex;
  text-decoration: none;
  color: black;
}

.header__username {
  margin-right: 17px;
  margin-left: 20px;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-size: 20px;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #00000080;
}
