.header {
  display: flex;
  justify-content: center;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.header__logo {
  margin-right: 20px;
}

.header__add-clothing-btn {
  margin: 0 20px 0 auto;
  background-color: transparent;
  border: none;
  border-color: transparent;
}

.header__username {
  margin-right: 88px;
}
