.sidebar {
  min-width: 229px;
  height: 100vh;
  justify-content: space-between;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-size: 20px;
  line-height: 100%;
}

.sidebar__row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.sidebar__avatar {
}

.sidebar__username {
  font-family: "Cabinet Grotesk Bold";
  font-size: 20px;
}
